<!DOCTYPE html>
@{ 
    Blog.Core.BlogContext blogContext = new Blog.Core.BlogContext();
    var Model = blogContext.Categories.ToList();
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/blog.css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h3>@Html.ActionLink("My Blog","Index")</h3>
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var item in Model)
                    {
                        <li>@Html.ActionLink(item.Name, "byCategories", "Home", new { id = item.Id }, null)</li>                    
                    }                    
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-sm-9">               
                @RenderBody()
                <hr>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
